In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import warnings; warnings.simplefilter('ignore')

In [2]:
columns = ['BIOGUIDE_ID', 'OFFICE', 'CATEGORY', 'PAYEE', 'START DATE', 'END DATE', 'PURPOSE', 'AMOUNT', 'YEAR']

In [3]:
#Loading data

#2009
Q3_2009 = pd.read_csv('2009Q4-house-disburse-detail.csv')
Q3_2009_data = Q3_2009[columns]

Q4_2009 = pd.read_csv('2009Q4-house-disburse-detail.csv')
Q4_2009_data = Q4_2009[columns]

#2010
Q1_2010 = pd.read_csv('2010Q1-house-disburse-detail.csv')
Q1_2010_data = Q1_2010[columns]

Q2_2010 = pd.read_csv('2010Q2-house-disburse-detail.csv')
Q2_2010_data = Q2_2010[columns]

Q3_2010 = pd.read_csv('2010Q3-house-disburse-detail.csv')
Q3_2010_data = Q3_2010[columns]

Q4_2010 = pd.read_csv('2010Q4-house-disburse-detail.csv')
Q4_2010_data = Q4_2010[columns]

#2011
Q1_2011 = pd.read_csv('2011Q1-house-disburse-detail.csv')
Q1_2011_data = Q1_2011[columns] 

Q2_2011 = pd.read_csv('2011Q2-house-disburse-detail.csv')
Q2_2011_data = Q2_2011[columns]

Q3_2011 = pd.read_csv('2011Q3-house-disburse-detail.csv')
Q3_2011_data = Q3_2011[columns]

Q4_2011 = pd.read_csv('2011Q4-house-disburse-detail.csv')
Q4_2011_data = Q4_2011[columns]

#2012
Q1_2012 = pd.read_csv('2012Q1-house-disburse-detail.csv')
Q1_2012_data = Q1_2012[columns]

Q2_2012 = pd.read_csv('2012Q2-house-disburse-detail.csv')
Q2_2012_data = Q2_2012[columns]

Q3_2012 = pd.read_csv('2012Q3-house-disburse-detail.csv')
Q3_2012_data = Q3_2012[columns]

Q4_2012 = pd.read_csv('2012Q4-house-disburse-detail.csv')
Q4_2012_data = Q4_2012[columns]

#2013
Q1_2013 = pd.read_csv('2013Q1-house-disburse-detail.csv')
Q1_2013_data = Q1_2013[columns] 

Q2_2013 = pd.read_csv('2013Q2-house-disburse-detail.csv')
Q2_2013_data = Q2_2013[columns]

Q3_2013 = pd.read_csv('2013Q3-house-disburse-detail.csv')
Q3_2013_data = Q3_2013[columns]

Q4_2013 = pd.read_csv('2013Q4-house-disburse-detail.csv')
Q4_2013_data = Q4_2013[columns]

#2014
Q1_2014 = pd.read_csv('2014Q1-house-disburse-detail.csv')
Q1_2014_data = Q1_2014[columns]

Q2_2014 = pd.read_csv('2014Q2-house-disburse-detail.csv')
Q2_2014_data = Q2_2014[columns]
                      
Q3_2014 = pd.read_csv('2014Q3-house-disburse-detail.csv')  
Q3_2014_data = Q3_2014[columns]
                    
Q4_2014 = pd.read_csv('2014Q4-house-disburse-detail.csv')
Q4_2014_data = Q4_2014[columns] 

#2015
Q1_2015 = pd.read_csv('2015Q1-house-disburse-detail.csv')
Q1_2015_data = Q1_2015[columns]   
                      
Q2_2015 = pd.read_csv('2015Q2-house-disburse-detail-updated.csv') 
Q2_2015_data = Q2_2015[columns]   
                     
Q3_2015 = pd.read_csv('2015Q3-house-disburse-detail.csv')
Q3_2015_data = Q3_2015[columns]

Q4_2015 = pd.read_csv('2015Q4-house-disburse-detail.csv')
Q4_2015_data = Q4_2015[columns] 

#2016
Q1_2016 = pd.read_csv('2016Q1-house-disburse-detail.csv') 
Q1_2016_data = Q1_2016[columns]  
                      
Q2_2016 = pd.read_csv('2016Q2-house-disburse-detail.csv') 
Q2_2016_data = Q2_2016[columns]    

Q3_2016 = pd.read_csv('2016Q3-house-disburse-detail.csv') 
Q3_2016_data = Q3_2016[columns]   

Q4_2016 = pd.read_csv('2016Q4-house-disburse-detail.csv')
Q4_2016_data = Q4_2016[columns] 

#2017 and Q1-2018
Q1_2017 = pd.read_csv('2017Q1-house-disburse-detail.csv')  
Q1_2017_data = Q1_2017[columns]   
                      
Q2_2017 = pd.read_csv('2017Q2-house-disburse-detail.csv', encoding = 'ISO-8859-1')
Q2_2017['YEAR'] = Q2_2017['AMOUNT']
Q2_2017['AMOUNT'] = Q2_2017['PURPOSE']
Q2_2017['PURPOSE'] = Q2_2017['END DATE']
Q2_2017['END DATE'] = Q2_2017['START DATE']
Q2_2017['START DATE'] = Q2_2017['PAYEE']
Q2_2017['PAYEE'] = Q2_2017['RECORDID']  
Q2_2017_data = Q2_2017[columns]    
                      
Q3_2017 = pd.read_csv('2017Q3-house-disburse-detail.csv')                        
Q3_2017_data = Q3_2017[columns]   
                      
Q4_2017 = pd.read_csv('2017Q4-house-disburse-detail.csv')
Q4_2017_data = Q4_2017[columns]    
                      
Q1_2018 = pd.read_csv('2018Q1-house-disburse-detail.csv', encoding = 'ISO-8859-1') 
Q1_2018_data = Q1_2018[columns]

In [4]:
data_till_2017 = [Q3_2009_data, Q4_2009_data, Q1_2010_data, Q2_2010_data, Q3_2010_data, Q4_2010_data, Q1_2011_data, Q2_2011_data, 
        Q3_2011_data, Q4_2011_data, Q1_2012_data, Q2_2012_data, Q3_2012_data, Q4_2012_data, Q1_2013_data, Q2_2013_data,
        Q3_2013_data, Q4_2013_data, Q1_2014_data, Q2_2014_data, Q3_2014_data, Q4_2014_data, Q1_2015_data, Q2_2015_data,
        Q3_2015_data, Q4_2015_data, Q1_2016_data, Q2_2016_data, Q3_2016_data, Q4_2016_data]

In [5]:
#Defining function to correct dates up to 2017 data
def correct_date(mystr):
    mystr_update = str(mystr)
    result = mystr_update.split('/')
    if len(result) > 1:
        month = result[0]
        if month not in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11','12']:
            month = '0' + result[0]
        day = result[1]
        if day not in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11','12', '13','14','15','16','17',
                      '18', '19', '20', '21', '22', '23', '24', '25', '26','27','28', '29','30','31']:
            day = '0' + result[1]
        final_str = month+'/'+day+'/'+result[2]
        datetime_str = datetime.strptime(final_str, '%m/%d/%y')
        return datetime_str.date()

In [6]:
def amount(mystr): #remove commas in amounts
    if type(mystr) == float:
        return mystr
    elif type(mystr) == int:
        return mystr
    else:
        result = ''
        updated_str = mystr.split(',')
        for char in updated_str:
            result = result + char
        return float(result)

In [7]:
#Fixing start and end dates and data type for amount for data till 2017 
for table in data_till_2017:
    table['START DATE'] = table['START DATE'].apply(correct_date)
    table['END DATE'] = table['END DATE'].apply(correct_date)
    table['AMOUNT'] = table['AMOUNT'].apply(amount)
    table['Coverage Period'] = table['END DATE'] - table['START DATE']

In [8]:
#Defining functions for 2017 & 2018 data: fix different year formats in the START AND END DATES
def convert_2017(mystr):
    mystr_update = str(mystr)
    result = mystr_update.split('/')
    if len(result) > 1:
        datetime_str = datetime.strptime(mystr, '%m/%d/%Y')
        return datetime_str.date()
    
def convert_17(mystr):
    mystr_update = str(mystr)
    result = mystr_update.split('/')
    if len(result) > 1:
        datetime_str = datetime.strptime(mystr, '%m/%d/%y')
        return datetime_str.date()

In [9]:
#Updating start and end times for Year 2017 and Q1-2018
Q1_2017_data['START DATE'] = Q1_2017_data['START DATE'].apply(convert_2017)
Q1_2017_data['END DATE'] = Q1_2017_data['END DATE'].apply(convert_2017)
Q1_2017_data['Coverage Period'] = Q1_2017_data['END DATE'] - Q1_2017_data['START DATE']

Q2_2017_data['START DATE'] = Q2_2017_data['START DATE'].apply(convert_17)
Q2_2017_data['END DATE'] = Q2_2017_data['END DATE'].apply(convert_17)
Q2_2017_data['Coverage Period'] = Q2_2017_data['END DATE'] - Q2_2017_data['START DATE']

Q3_2017_data['START DATE'] = Q3_2017_data['START DATE'].apply(convert_2017)
Q3_2017_data['END DATE'] = Q3_2017_data['END DATE'].apply(convert_2017)
Q3_2017_data['Coverage Period'] = Q3_2017_data['END DATE'] - Q3_2017_data['START DATE']

Q4_2017_data['START DATE'] = Q4_2017_data['START DATE'].apply(convert_2017)
Q4_2017_data['END DATE'] = Q4_2017_data['END DATE'].apply(convert_2017)
Q4_2017_data['Coverage Period'] = Q4_2017_data['END DATE'] - Q4_2017_data['START DATE']

Q1_2018_data['START DATE'] = Q1_2018_data['START DATE'].apply(convert_17)
Q1_2018_data['END DATE'] = Q1_2018_data['END DATE'].apply(convert_17)
Q1_2018_data['Coverage Period'] = Q1_2018_data['END DATE'] - Q1_2018_data['START DATE']

In [10]:
#Combining all data 
data =[Q3_2009_data, Q4_2009_data, Q1_2010_data, Q2_2010_data, Q3_2010_data, Q4_2010_data, Q1_2011_data, Q2_2011_data, 
        Q3_2011_data, Q4_2011_data, Q1_2012_data, Q2_2012_data, Q3_2012_data, Q4_2012_data, Q1_2013_data, Q2_2013_data,
        Q3_2013_data, Q4_2013_data, Q1_2014_data, Q2_2014_data, Q3_2014_data, Q4_2014_data, Q1_2015_data, Q2_2015_data,
        Q3_2015_data, Q4_2015_data, Q1_2016_data, Q2_2016_data, Q3_2016_data, Q4_2016_data, Q1_2017_data, Q2_2017_data,
        Q3_2017_data, Q4_2017_data, Q1_2018_data]

In [11]:
df = pd.concat(data)

In [12]:
df.head(2)

,BIOGUIDE_ID,OFFICE,CATEGORY,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,YEAR,Coverage Period
0,S000250,HON. PETE SESSIONS,EQUIPMENT,10_01 P1 10TX3200002 DE...,2009-01-01,2009-03-01,EQUIPMENT MAINTENANCE,4395.0,2009,59 days
1,S000250,HON. PETE SESSIONS,EQUIPMENT,10_01 P1 10TX3200003 ...,2009-04-01,2009-07-01,EQUIPMENT MAINTENANCE,5860.0,2009,91 days

# Analysis

In [ ]:
# Average duration of projects which the payments covered: 30 days

In [13]:
df_positive_amounts = df[df['AMOUNT'] > 0]

In [14]:
df_positive_amounts.describe()

             AMOUNT          Coverage Period
count  3.440169e+06                  3414477
mean   4.050470e+03  30 days 19:03:51.642503
std    1.266102e+05  61 days 14:41:33.409784
min    1.000000e-02    -18217 days +00:00:00
25%    5.300000e+01          0 days 00:00:00
50%    2.157000e+02         29 days 00:00:00
75%    8.330000e+02         30 days 00:00:00
max    6.252565e+07      10986 days 00:00:00

In [ ]:
#Average annual expenditure between Jan 1, 2010 and Dec 31, 2016

In [15]:
start_time = datetime.strptime('01/01/10', '%m/%d/%y').date()
end_time = datetime.strptime('12/31/16', '%m/%d/%y').date()

In [16]:
df_expend = df_positive_amounts[(df_positive_amounts['START DATE'] >= start_time) & (df_positive_amounts['START DATE'] <= end_time)]

In [17]:
years = 7.0
average_annual_expenditure = df_expend['AMOUNT'].sum()/years

In [18]:
average_annual_expenditure

1223373736.1557143

In [ ]:
#Finding office with the highest total expenditure in 2016

In [19]:
#Constructing dataset for 2016
df_2016 = pd.concat([Q1_2016_data, Q2_2016_data, Q3_2016_data, Q4_2016_data])
office_columns = df_2016[['OFFICE', 'AMOUNT']]
groupby_office = office_columns.groupby('OFFICE').sum()
groupby_office.reset_index(inplace = True)
groupby_office.sort_values('AMOUNT', ascending = False).iloc[0]

OFFICE    GOVERNMENT CONTRIBUTIONS
AMOUNT                 2.47826e+08
Name: 37, dtype: object

In [ ]:
#Biggest beneficiary of GOVERNMENT CONTRIBUTIONS

In [20]:
df_govt = df_2016[df_2016['OFFICE'] == 'GOVERNMENT CONTRIBUTIONS']
govt_columns = df_govt[['PURPOSE', 'AMOUNT']]
groupby_purpose = govt_columns.groupby('PURPOSE').sum()
groupby_purpose.reset_index(inplace = True)
groupby_purpose.sort_values('AMOUNT', ascending = False).iloc[0]

PURPOSE           FERS
AMOUNT     8.30479e+07
Name: 7, dtype: object

In [ ]:
#Fraction of total expenditures in 2016 contributing to GOVERNMENT CONTRIBUTIONS

In [21]:
start_time = datetime.strptime('01/01/16', '%m/%d/%y').date()
end_time = datetime.strptime('12/31/16', '%m/%d/%y').date()
expenditures_2016 = df[(df['START DATE'] >= start_time) & (df['START DATE'] <= end_time)]
total_expenditures_with_start_date_2016 = expenditures_2016['AMOUNT'].sum()
fraction = 2.47826e+08/total_expenditures_with_start_date_2016

In [22]:
fraction

0.20832202264336636

In [ ]:
#Highest average staff salary among all representatives in 2016

In [23]:
#Staff salaries fall under 'PERSONNEL COMPENSATION' category
pc_category = df_2016[df_2016['CATEGORY'] == 'PERSONNEL COMPENSATION']
cols = pc_category[['BIOGUIDE_ID', 'PAYEE', 'AMOUNT']]

In [24]:
#Removing dupilcates in PAYEE names
def name(mystr):   
    result = ''
    if type(mystr) != float:
        for letter in mystr: 
            if letter == ',' or letter == ' ' or letter == '.':
                continue
            else:
                result = result + letter
    return result

cols['PAYEE'] = cols['PAYEE'].apply(name)

In [25]:
representatives = cols['BIOGUIDE_ID'].unique()

In [26]:
#Aggregating data of all staff members corresponding to each representative
id_payee_groupby = cols.groupby(['BIOGUIDE_ID', 'PAYEE']).sum()

In [27]:
#Computing average staff salary for each representative
avg_staff_salaries = []
for person in representatives:
    if type(person) != float:
        current_data = id_payee_groupby.xs(person, level = 0)
        staff_average = current_data['AMOUNT'].sum()/len(current_data)
        avg_staff_salaries.append(staff_average)

highest_average_staff_salary = max(avg_staff_salaries)

In [28]:
highest_average_staff_salary

65064.53812500001

In [ ]:
#Distribution of expenditures of the top 20 spenders in 2016

In [29]:
start_time = datetime.strptime('01/01/16', '%m/%d/%y').date()
end_time = datetime.strptime('12/31/16', '%m/%d/%y').date()
expenditures_2016 = df[(df['START DATE'] >= start_time) & (df['START DATE'] <= end_time)]

In [30]:
cols = expenditures_2016[['BIOGUIDE_ID', 'AMOUNT']]
top_20_spenders = cols.groupby('BIOGUIDE_ID').sum().nlargest(20, 'AMOUNT')
top_20_spenders.reset_index(inplace = True)

#Using ProPublica API, I found political parties of top 20 spenders and added that information to top_20_spenders table

top_20_spenders['Party'] = ['R', 'D', 'R', 'D', 'R', 'R', 'R', 'D', 'D', 'D', 'R', 'D', 'R', 'R', 'D', 'D', 'R', 'R', 'D', 'D']

democratic_spending = top_20_spenders[top_20_spenders['Party'] == 'D']
total_democratic_spending = democratic_spending['AMOUNT'].sum()

#fraction of expenditures of top 20 spenders in 2016 coming from democratic party
fraction = total_democratic_spending/top_20_spenders['AMOUNT'].sum()

In [31]:
fraction

0.48359341150926977